<h3>Happening Today</h3>
<table class="table table-striped table-bordered table-hover">
<%= render "meeting_header" %>
  <tbody>
  <% @today.each do |meeting| %>
    <tr>
        <td><%= link_to meeting.title, meeting_path(meeting.organization_id,meeting.id) %></td>
        <td><%= meeting.scheduled_date%></td>
        <td>
          <%= link_to 'Edit', edit_meeting_path(meeting.organization_id,meeting.id) %> |
          <%= link_to 'Delete', meeting_path(meeting.organization_id,meeting.id), method: :delete, data: { confirm: "Are you sure?" }, class: "task-subtitle"%>
        </td>
    </tr>
  <% end %>
  </tbody>
</table>

<h3>Happening Soon</h3>
<table class="table table-striped table-bordered table-hover">
<%= render "meeting_header" %>
  <tbody>
  <% @soon.each do |meeting| %>
    <tr>
        <td><%= link_to meeting.title, meeting_path(meeting.organization_id,meeting.id) %></td>
        <td><%= meeting.scheduled_date%></td>
        <td>
          <%= link_to 'Edit', edit_meeting_path(meeting.organization_id,meeting.id) %> |
          <%= link_to 'Delete', meeting_path(meeting.organization_id,meeting.id), method: :delete, data: { confirm: "Are you sure?" }, class: "task-subtitle"%>
        </td>
    </tr>
  <% end %>
  </tbody>
</table>

<h3>Already Happened</h3>
<table class="table table-striped table-bordered table-hover">
<%= render "meeting_header" %>
  <tbody>
  <% @overdue.each do |meeting| %>
    <tr>
        <td><%= link_to meeting.title, meeting_path(meeting.organization_id,meeting.id) %></td>
        <td><%= meeting.scheduled_date%></td>
        <td>
          <%= link_to 'Edit', edit_meeting_path(meeting.organization_id,meeting.id) %> |
          <%= link_to 'Delete', meeting_path(meeting.organization_id,meeting.id), method: :delete, data: { confirm: "Are you sure?" }, class: "task-subtitle"%>
        </td>
    </tr>
  <% end %>
  </tbody>
</table>