<p>
  <h1><strong><%= current_tenant.name %> Meetings</strong></h1>
  <%= link_to "Schedule New Meeting", new_meeting_path, class:"btn btn-primary" %>
</p>

<table class="table table-striped table-bordered table-hover">
<%= render "meeting_header" %>
  <tbody>
  <% @meetings.each do |meeting| %>
    <tr>
        <td><%= link_to meeting.title, meeting_path(meeting.organization_id,meeting.id) %></td>
        <td><%= meeting.scheduled_date%></td>
        <td>
          <%= link_to 'Edit', edit_meeting_path(meeting.organization_id,meeting.id) %> |
          <%= link_to 'Delete', meeting_path(meeting.organization_id,meeting.id), method: :delete, data: { confirm: "Are you sure?" }, class: "task-subtitle"%>
        </td>
    </tr>
  <% end %>
  </tbody>
</table>