<div class="mainContainer">
  <p>
    <h1><strong><%= current_tenant.name %> Meetings</strong></h1>
  </p>

  <%= link_to new_meeting_path, title: "Create New Meeting" do %>
    <div class="projectContainer d-flex align-items-center justify-content-center">
      +
    </div>
  <% end %>

  <div class="mainSubContainer">
    <% @meetings.each do |meeting| %>
      <div class="projectContainer d-flex flex-column justify-content-between">
        <div class="projectDetails d-flex flex-column">
          <%= link_to meeting.title, meeting_path(meeting.organization_id,meeting.id), class: "fw-bold" %>
          <p class="mt-2 fst-italic text-muted"><%= meeting.users.count %> Participant<% if meeting.users.count != 1 %>s<% end %></p>
        </div>

        <div class="smallLinkContainer text-center">
          <div class="smallLink">
            <%= link_to "Edit", edit_meeting_path(meeting.organization_id,meeting.id) %>
          </div>
          <div class="smallLink">
            <%= link_to "Delete", meeting_path(meeting.organization_id,meeting.id),
                method: :delete,
                data: { confirm: "Are you sure?" } %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
