<%= form_with model: @project do |f| %>

<div class="form-outline mb-4">
    <%= f.label "Project Name", class: "form-label" %>
    <%= f.text_field :title, id:"form2Example2", class:"form-control" %>

    <% @project.errors.full_messages_for(:email).each do |message| %>
      <div class="error-msg" style="color:red;"><%= message %></div>
    <% end %>

  </div>

  <div class="form-outline mb-4">
    <%= f.label "Details", class: "form-label" %>
    <%= f.text_area :body, :rows => 6, id:"form2Example2", class:"form-control" %>

    <% @project.errors.full_messages_for(:password).each do |message| %>
      <div class="error-msg" style="color:red;"><%= message %></div>
    <% end %>

  </div>


  Project Schedule

  <div class="form-outline mb-4">
    <%= f.label :start_date, class: "form-label" %>
    <%= f.date_field :start_date, id:"form2Example2", class:"form-control" %>
    <% @project.errors.full_messages_for(:password).each do |message| %>
      <div class="error-msg" style="color:red;"><%= message %></div>
    <% end %>

  </div>

  <div class="form-outline mb-4">
    <%= f.label :end_date, class: "form-label" %>
    <%= f.date_field :end_date, id:"form2Example2", class:"form-control" %>
    <% @project.errors.full_messages_for(:password).each do |message| %>
      <div class="error-msg" style="color:red;"><%= message %></div>
    <% end %>

  </div>

  <div class="form-outline input-group mb-3">
      <div class="input-group-text">
          <%= f.check_box :completed, id:"form2Example2", class: "form-check-input mt-0"%>
      </div>
      <%= f.label :completed, "Completed?", class: "form-control" %>

      <% @project.errors.full_messages_for(:completed).each do |message| %>
          <div class="error-msg"><%= message %></div>
      <% end %>
  </div>

  <div class="d-grid gap-2 col-6 mx-auto form-actions">
    <%= f.submit "Submit", class:"btn btn-primary btn-block mb-4" %>
  </div>

<% end %>
