<div class="card p-3 d-flex flex-row flex-wrap justify-content-between align-items-center gap-4 m-4 border-0">
  <h1 class="fw-bold"><%= current_tenant.name %> Projects</h1>

  <%= link_to "Create New Project", new_project_path, class: "btn btn-primary"%>
</div>

<div class="d-flex flex-column m-5 mt-0 gap-4 justify-content-around">
  <%= render "projects", projects: @overdue, label: "Overdue" %>
  <%= render "projects", projects: @pending, label: "Pending" %>
  <%= render "projects", projects: @completed, label: "Completed" %>
</div>
