<%= render "sidebar" %>

<div class="mainContainer">
  <p>
    <h1><strong><%= current_tenant.name %> Projects</strong></h1>
  </p>

  <div class="mainSubContainer">
    <% @projects.each do |project| %>
      <div class="projectContainer">
        <%= link_to project.title, project_path(project.organization_id,project.id) %>

        <div class="smallLinkContainer">
            <div class="smallLink">
              <%= link_to "Edit", edit_project_path(project.organization_id,project.id) %>
            </div>
            <div class="smallLink">
              <%= link_to "Delete", project_path(project.organization_id,project.id),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
              </div>
            </div>
        </div>
    <% end %>

    <div class="projectContainer">
      <%= link_to "+", new_project_path %>
    </div>
  </div>
</div>
