<%= render "sidebar" %>

<div class="mainContainer">
  <p>
    <h1><strong><%= current_tenant.name %> Projects</strong></h1>
  </p>

  <%= link_to new_project_path, title: "Create New Project" do %>
    <div class="projectContainer d-flex align-items-center justify-content-center">
      +
    </div>
  <% end %>

  <div class="mainSubContainer">
    <% @projects.each do |project| %>
      <div class="projectContainer">
        <%= link_to project.title, project_path(project.organization_id,project.id) %>

        <div class="smallLinkContainer">
            <div class="smallLink">
              <%= link_to "Edit", edit_project_path(project.organization_id,project.id) %>
            </div>
            <div class="smallLink">
              <%= link_to "Delete", project_path(project.organization_id,project.id),
                  title: "Delete #{project.title}",
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
              </div>
            </div>
        </div>
    <% end %>
  </div>
</div>
