<div class="infoContainer">
  <h1><strong>Organization Details</strong></h1>
  <p>
    <% if current_user.admin? %>
      <%= link_to 'Edit', edit_organization_path(@organization) %> |
      <%= link_to 'Delete', organization_path(@organization), method: :delete, data: { confirm: 'Are you sure?' }  %> |
    <% end %>
    <%= link_to 'Back', root_path %>
  </p>

  <table class="table">
    <tr>
      <td><b>Name:</b></td>
      <td><%= @organization.name %></td>
    </tr>

    <tr>
      <td><b>Logo:</b></td>
      <td>
      <% if @organization.logo.attached? %>
        <%= image_tag @organization.logo, size: "50x50" %>
      <% end %>
      </td>
    </tr>

    <tr>
      <td><b>No. of Members:</b></td>
      <td><%= @organization_members.count %> members</td>
    </tr>

    <tr>
      <td><b>Created at:</b></td>
      <td><%= @organization.created_at %></td>
    </tr>

  </table>
</div>

<div class="infoContainer mt-4">
  <% if current_user.admin? %>
    <h1><strong>Invite Members</strong></h1>
    <hr/>
    <%= form_tag invite_a_member_of_organizations_path, method: :get, class: "input-group" do %>
      <%= email_field_tag 'email', '', class: "form-control" %>
      <%= submit_tag "Send Invite", class: "btn bg-info btn-outline-info text-light" %>
    <% end %>
  <% end %>
</div>
