<p id="notice"><%= notice %></p>

<div class="infoContainer">

        <h1><strong>Organization Details</strong></h1>
        <p>
          <% if current_user.admin? %>
            <%= link_to 'Edit', edit_organization_path(@organization) %> |
            <%= link_to 'Delete', organization_path(@organization), method: :delete, data: { confirm: 'Are you sure?' }  %> |
          <% end %>
          <%= link_to 'Back', root_path %>
        </p>

        <table class="table">
          <tr>
            <td><b>Name:</b></td>
            <td><%= @organization.name %></td>
          </tr>

          <tr>
            <td><b>Logo:</b></td>
            <td>
            <% if @organization.logo.attached? %>
              <%= image_tag @organization.logo, size: "50x50" %>
            <% end %>
            </td>
          </tr>

          <tr>
            <td><b>No. of Members:</b></td>
            <td><%= @organization_members.count %> members</td>
          </tr>

          <tr>
            <td><b>Created at:</b></td>
            <td><%= @organization.created_at %></td>
          </tr>

        </table>
</div>

<% if current_user.admin? %> 
  <div class="container mt-4">
    <div class="row d-flex justify-content-center">
      <div class="col-md-6">
        <div class="row d-flex justify-content-center border px-4 py-4 rounded-4 bg-light">

        <h1><strong>Invite Members</strong></h1>
        <hr/>
        <%= form_tag invite_a_member_of_organizations_path, method: :get do %>
          <%= email_field_tag 'email' %>
          <%= submit_tag("Send Invite") %>
        <% end %>

        </div>
      </div>
    </div>
  </div>
<% end %>
